* {
  margin: 0%;
  padding: 0.5%;
}

header {
  display: flex;
  align-items: center;
  background-color: rgba(49, 155, 49, 0.842);
  height: 70px;
  justify-content: space-between;
}
/* navbar */
.icon {
  width: 100px;
  height: 80px;
  justify-self: left;
}
nav {
  display: flex;
  justify-content: space-around;
}
li {
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
}
li a {
  color: blueviolet;
}
